.side-bar
  .user
    .content
      .content__name
        %p isikawa
      .content__create
        =link_to '#' do
          %i.fa.fa-pencil-square-o
        =link_to '#' do
          %i.fa.fa-cog.icon
  .groups
    = render partial: 'group-list'
