.side-bar
  .user
    .content
      .content__name
        %p isikawa
      .content__create
        =link_to 'https://www.google.co.jp/' do
          %i.fa.fa-pencil-square-o
        =link_to 'https://www.google.co.jp/' do
          %i.fa.fa-cog.icon
  .groups
    .list
      .group
        .group__name
          シス単
        .group__message
          a
