.notification
  アカウント登録完了しました
.mainspace
  .header
    .content
      .content__group
        %p シス単
      .content__edit
        Edit
    .content2
      .content2__member
        %p MEMBER: isikawa
  .body
    .content
      %ul.chat
        %li.chat__memmber
          isikawa
        %li.chat__memmber--time
          2018/05/25 19:05:42
        %li.chat__message
          英語なう
  .footer
    %form{action: ""}
      %input{type: "text", class: "messageform", placeholder: "type a message"}
      .form_mask
        %label{for: "photos",class: "icon"}
          %i.fa.fa-picture-o.fa-lg
        %input{style: "display:none", type: "file", class: "imageform", id: "photos"}
      %input{type: "submit", value: "Send", class: "send-button"}


.side-bar
  .user
    .content
      .content__name
        %p isikawa
      .content__create
        =link_to 'https://www.google.co.jp/' do
          %i.fa.fa-pencil-square-o
        =link_to 'https://www.google.co.jp/' do
          %i.fa.fa-cog.icon
  .groups
    .content
      .group
        .group__name
          シス単
        .group__message
          a
